<span id="mobile-bar" class="mobile btn-mobile-menu">
  <i id="btn-mobile-menu" class="fas fa-bars"></i>
  <i id="btn-mobile-close" class="fas fa-times hidden"></i>
</span>

<!-- <span id="js-hint">
  <p id="js-hint__text"> This site requires JavaScript.</p>
</span> -->

<header id="background-image" class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a id="home-panel" href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img id="profile-image" src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div id="navbar" class="navigation-wrapper hidden">

          <nav id="social-links" class="cover-navigation navigation--social">
            <ul class="navigation">
              
              <!-- Generate social links -->
              {% for social in site.socials %}
                {% assign link =  social[0] %}
                {% include socials/{{ link }}.html %}
              {% endfor %}
            </ul>
          </nav><br>
          
          <nav id="projects-toggle" class="cover-navigation cover-navigation--primary hidden">
            <ul class="navigation">
              <li class="navigation__item"><a title="About Page" id="projects-button" class="panel-button projects-button"><i class="fas fa-code"></i> About</a></li>
              <li class="navigation__item"><a title="Now Page" id="now-button" class="panel-button now-button"><i class="fas fa-code"></i>Crypto</a></li>
              <li class="navigation__item"><a title="PGP Key" id="pgp-button" class="panel-button pgp"><i class="fas fa-code"></i> PGP Key</a></li>
              <!--- <li class="navigation__item"><a title="crypto" id="crypto-button" class="panel-button crypto"><i class="fas fa-code"></i> Crypto Addresses</a></li> --->
            </ul>
          </nav>
        </div>

      </div>

    </div>
    <div class="panel-cover--overlay"></div>
  </div>
</header>
