<!DOCTYPE html>
<html>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  {% include head.html %}

  <body>
    {% include header.html %}

    <div id='projects-wrapper' class="content-wrapper hidden">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
